* {
    margin: 0;
}

nav {
    background-color: black;
    height: 4em;
    /* border: 3px solid red; */
    position: relative;
    font-family: 'Poppins', sans-serif;
}

/* General Link Colors */
nav a {
    text-decoration: none; 
    font-weight: bold;
}
.navlinks a:link {color: #fff;}
.navlinks a:visited {color: #fff;}
.home-text a:link {color: #fff;}
.home-text a:visited {color: #fff;}
.connect-text a:link {color: var(--theme-blue);}
.connect-text a:visited {color: var(--theme-blue);}
nav a:hover {color: #93afbf;}
nav a:active {color: #93afbf;}

ul.navlist {
    list-style-type: none;
    float: right;
    position: relative;
    margin-top: 32px;
    margin-right: 20px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

li.navitem {
    display: inline;
    padding: 5px;
    font-size: 1em;
}

.connect-btn {
    float: right;
    border: 3px solid white;
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: 50%;
    margin-right: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.connect-text {
    padding: 0.1em 0.5em;
}

.home-text {
    float: left;
    font-size: 1.25em;
    position: absolute;
    top: 50%;
    padding-left: 10%;
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

/* FOOTER */

footer {
    margin: 2% 10% 5% 10%;
    padding: 3% 0 0 0;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: var(--theme-blue);
}

h6 {
    font-size: 2vw;
}

.hl {
    border-top: 6px solid var(--theme-blue);
    width: 100%;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;
}

.footercol {
    float: left;
}

ul.footer-list {
    list-style-type: none;
}

.socials {
    float: right;
    align-items: right;
    justify-content: right;
}

.social {
    width: 32px;
    float: right;
}

.linkedin {
    padding: 0 0 0 8px;
}

.github {
    padding: 0 0 0 8px;
}

.copyright {
    color: #5f5f5f;
    padding: 150px 0 0 0;
}

/* Mobile Menu Bar */

.mobile-menu-btn {
    display: none;
    padding: 0;
    float: right;
    position: absolute;
    top: 50%;
    right: 5%;
    -ms-transform: translate(-5%,-50%);
    transform: translate(-5%,-50%);
}

.overlay { 
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    background-color: var(--theme-blue);
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; 
    transition: 0.5s;
    display: none;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    width: 100%;
    text-align: center;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #FFF;
    display: block;
    transition: 0.3s;
}

.closebtn {
    float: right;
    font-size: 36px;
    align-self: right;
    justify-self: center;
    position: absolute;
    right: 16px;
    top: 16px;
}

.mobile-page-list {
    justify-content: center;
}

.mobile-link {
    text-decoration: none;
}

/* Mobile Changes */

@media only screen and (max-width: 768px) {
    .navlist {
        display: none;
    }

    .connect-btn {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
        justify-self: right;
    }

    .home-text {
        left: 0%;
    }

    /* Footer */
    footer {
        margin: 16px;
    }

    h6 {
        font-size: 24px;
    }
}