* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
}

:root {
    --theme-blue: #00A9FF;
}

h1 {
    font-weight: bold;
    font-size: 4vw;
}

h2 {
    font-weight: bold;
    font-size: 4vw;
    color: var(--theme-blue);
}

h3 {
    font-weight: bold;
    font-size: 2vw;
    color: gray;
    text-transform: uppercase;
}

p {
    font-weight: normal;
}

body {
    background-color: black;
} 

/* MAIN HEADER */

.main-wrapper {
    overflow: hidden;
    background-color: black;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 80%;
}

.main-left, .main-right {
    width: 49%;
    height: 45vw;
}

.main-left {
    float: left;
    align-items: center;
    justify-content: center;
    position: relative;
    /*border: 3px solid green; */
}

.main-left-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 10%;
    -ms-transform: translate(0%,-50%);
    transform: translate(0%,-50%);
    /*border: 3px solid purple;*/
    width: 80%;
}

.main-right {
    float: right;
    justify-content: right;
    /*border: 3px solid blue; */
}

.main-right-content {
    justify-content: center;
    position: relative;
}

.main-right-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 2vw;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:90%;
}

.main-photo {
    aspect-ratio: 1;
    max-width: 100%;
}

@media only screen and (min-width: 769px) {
    .mobile-only {
        display: none;  
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 12px;
    }

    .main-wrapper {
        height: auto;
        width: 100vw;
        padding: 16px;
        position: relative;
        box-sizing: border-box;
    }
    
    .main-left, .main-right {
        width: auto;
        height: auto;
    }
    
    .main-left {
        float: none;
        position: relative;
        width: auto;
    }
    
    .main-left-text {
        margin: 0;
        position: relative;
        top: 0%;
        left: 0%;
        -ms-transform: translate(0%,0%);
        transform: translate(0%,0%);
        font-size: 30px;
        width: auto;
    }
    
    .main-right {
        float: none;
        justify-content: right;
    }
    
    .main-right-content {
        padding: 0;
        position: relative;
        width: auto;
    }
    
    .main-right-text {
        margin: 0;
        position: relative;
        top: 0%;
        left: 0%;
        font-size: 16px;
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        width: auto;
    }
    
    .vl {
        display: none;
    }
}

/* VERTICAL LINE */

.vl {
    border-left: 6px solid var(--theme-blue);
    height: 25vw;
    position: absolute;
    left: 101.02040816%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;
}

/* DETAIL VIEW */

.publications {
    margin: 0 4.9% 0 4.9%;
    padding: 60px 0;
    position: relative;
    overflow-x: visible;
}

.detail-container {
    overflow: hidden;
    align-items: center;
    width: 100vw;
    margin: 0;
    padding: 0;
}
/* 
.detail-invert {
    margin-left: -4.9%;
} */

.detail-text {
    position: relative;
    width: 40.2vw;
    padding-left: 3%;
    float: left;
    padding-top: 3%;
}

.detail-img-container {
    position: relative;
    float: right; 
    width: 50vw;
}

.detail-img {
    position: relative;
    width: 50vw;
    overflow: hidden;
}

.detail-right .detail-img {
    float: right;
}

.detail-left .detail-img {
    float: left;
}

.detail-left {
    float: left;
}

/* Mobile CSS Exceptions */

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 30px;
    }
    
    .detail-container {
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    
    .detail-text {
        width: auto;
        padding: 16px;
        float: none;
    }
    
    .detail-img-container {
        float: none; 
        width: 100vw;
    }
    
    .detail-img {
        width: 100vw;
    }
    
    .detail-right .detail-img {
        float: none;
    }
    
    .detail-left .detail-img {
        float: none;
    }
    
    .detail-left {
        float: none;
    }
}

/* PUBLICATIONS */
.publication {
    margin: 10px 0;
    width: 100%;
}

h3.year {
    color: var(--theme-blue);
    border: solid 2px var(--theme-blue);
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 3vw;
    float: left;
}

/* Wrapper */ 

.pubcontent {
    margin: 0 0 0 15%;
    left: 15%;
}

h2.pubtitle {
    color: white;
    font-size: 3vw;
}

.pubdoibtn {
    border: 4px solid white; 
    border-radius: 15px;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--theme-blue);
    background-color: white;
}

.pubdoibtn:hover {
    color: black;
}

p.pubdescription {
    color: lightgray;

}

@media only screen and (max-width: 768px) {
    h2.pubtitle {
        font-size: 30px;
        margin-left: 110px;
    }

    h3.year {
        font-size: 30px;
        width: 90px;
        height: 90px;
    }

    .pubcontent {
        left: 0px;
        margin-left: 0px;
    }

    .pubdoibtn {
        width: 100%;
        content: "PDF"
    }
}

/* Tech Hero */

.hero-div {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    border: 2px blue solid;
}

.hero-img {
    width: 100vw;
    overflow: hidden;
}

.transparent-nav {
    position: absolute;
    background-color: transparent;
    z-index: 9;
    width: 100vw;
}

.parallax {
    /* The image used */
    /* Below per id */
  
    /* Set a specific height */
    min-height: 100vh; 
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

#parallax-technology {
    background-image: url("./images/technology/tech-hero.jpeg");
}

#parallax-research {
    background-image: url("./images/research/research-hero-2.png");
}

#parallax-research-2 {
    background-image: url("./images/research/research-hero-1.jpeg");
}

@supports (-webkit-touch-callout: none) {
    .parallax {
        background-attachment:initial;
    }
}

/* Expanded Tabs */

.expanded-tabs {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px blue solid;
    /* width: 90.2vw; */
}

ul.tab-cards {
    list-style-type: none;
    float: left;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px red solid;
}

.tab-card {
    background-color: #2f2f2f;
    width: 18vw;
    height: 300px;
    float: left;
    display: inline;
    font-size: 1em;
    border: 2px green solid;
    margin: 0 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expanded-tabs a {
    text-decoration: none;
}

.appstore {
    padding: 16px 0;
}

.connect-margin {
    margin: 2% 10% 5% 10%;
    padding: 3% 0 0 0;
}

/* FORM */

input[type=text] {
    background-color: #2f2f2f;
    height: 40px;
    font-size: 20px;
    padding: 20px 5px 1px 1px;
    width: 100%;
    transition: border 0.4s ease-in-out;
    border-color: transparent;
    border-radius: 0;
}

input[type=text]:focus {
    outline: none;
    border-bottom-color: var(--theme-blue);
}

input[type=email] {
    background-color: #2f2f2f;
    height: 40px;
    font-size: 20px;
    padding: 20px 5px 1px 1px;
    width: 100%;
    transition: border 0.4s ease-in-out;
    border-color: transparent;
    border-radius: 0;
}

input[type=email]:focus {
    outline: none;
    border-bottom-color: var(--theme-blue);
}

/* input[type=email]:invalid {
    outline: none;
    border-bottom-color: red;
}*/

.validation {
    color: red;
    font-size: 12px;
    opacity: 0%;
    display: none;
} 

textarea {
    background-color: #2f2f2f;
    height: 100px;
    font-size: 20px;
    padding: 20px auto 1px auto;
    width: 100%;
    transition: border 0.4s ease-in-out;
    border-color: transparent;
    border-radius: 0;
    resize: vertical;
}


textarea:focus {
    outline: none;
    border-bottom-color: var(--theme-blue);
}

input[type=submit] {
    background-color: var(--theme-blue);
    height: 40px;
    font-size: 20px;
    width: 10%;
    transition: border 0.4s ease-in-out;
    border-color: transparent;
    border-radius: 0;
}

